.App {
  text-align: center;
}

body {
  background-image: url("https://ae01.alicdn.com/kf/HTB1uWloFrSYBuNjSspiq6xNzpXa5/Laeacco-Jungle-Party-Baby-Cartoon-Animals-Bear-Giraffe-Photography-Background-Customized-Photographic-Backdrops-For-Photo-Studio.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#header {
  color: white;
}

button {
  
}
